<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h1>Titulo: <%= @questions.title %></h1>
      <h3>Descripcion: <%= @questions.description%></h3>
      <h6>Fecha: <%= @questions.fecha%></h6>
      <h6>Email: <%= @questions.email%></h6>
      <h6>No. de Respuestas: <%= @questions.NoAnswer%></h6>
      <h6>No. de Votos: <%= @questions.NoVotos%></h6>
    </div>
  </div>
</div>
